*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(./background11.png);
  background-size: cover;
}

.wrapper{
    width: 400px;
    color: rgb(234, 234, 234); /* Corrected the missing comma here */
    padding: 30px 30px;
    background: rgba(186, 186, 186, 0.15);
    border-radius: 2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.151);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(178, 178, 178, 0.2);
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: whitesmoke;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    font-size: 16px;
    color: white;
    padding: 20px;
    transition: 0.4s ease-in-out;

}

.input-box input:focus{
    border: 2px solid rgba(15, 255, 255, 1.0);
    box-shadow: 0 0 25px rgba(15, 255, 255, 1.0);

}

.input-box input::placeholder{
    color: whitesmoke;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;

}

.wrapper .remember-forgot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin: 20px 0;

}

.remeber{
    display: flex;
    align-items: center;
    gap: 4px;
}

.remember-forgot label input{
    accent-color: white;
    margin-right: 5px;
}
.remember-forgot a{
    color: white;
    border-bottom: 2px solid transparent;


}

.remember-forgot a:hover{
    border-bottom: 1px solid white;
}

button{ 
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    font-size: 20px;
    color: wheat;
    cursor: pointer;
    position: relative;
    transition: 0.4s ease-in-out;

}

button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background: transparent;
    z-index: -1;

}

button:hover{
    border: none;
    z-index: 0;
    background: linear-gradient(to top right, #00fff7, #ff00f7);
    box-shadow: 25px 0 100px #e100ff,
                -25px 0 100px #00f7ff;
}

.wrapper .register-link {
    font-size: 14px;
    color:white;
    text-align: center;
    margin-top: 20px;
    margin: 20px 0 15px;
}

.wrapper .register-link p a {
    color: white !important;
    text-decoration: none !important;
    font-weight: 600 !important;
}

.wrapper .register-link p a:hover {
    text-decoration: underline !important;
}
